* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#nodesInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actionButtons {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

button {
    width: 5rem;
    height: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50px;
}